version: '3'

services:
  fastapi:
    build: .
    ports: 
      - "8000:80"
    command: uvicorn main:app --reload --host 0.0.0.0 --port 80 
    depends_on: 
      - postgres

  postgres:
    container_name: postgres
    image: postgres:latest
    env_file: .env
    environment:
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "5432:5432"
    
